@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap");

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* END RESET */

/* Start body */

body {
  background-color: #eee;
  font-family: "Source Sans Pro";
}

.newspaper-container {
  margin: 100px auto;
  width: 75vw;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #ddd;
}

img {
  width: 100%;
}

/* End Body */

/* Fonts and colors */

h1,
h2,
h3 {
  font-family: "Abril Fatface";
}

h4 {
    font-family: "Roboto Slab";
}

.date {
  padding: 10px 0 0 10px;
  color: #777;
}

h5 {
  color: #dd3232;
}
/* End fonts and colors */

h1 {
  text-align: center;
}

/* Start Navigation */

nav {
  position: sticky;
  top: 0;
  background-color: white;
}

nav.sticky {
  padding: 15px 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  font-size: 11px;
  margin: 0 5px;
}

a {
  color: #777;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}

/* Make hyperlinks more visible on hover */

a:hover {
  background-image: linear-gradient(to bottom, #5bce2e, #4c00ff);
  color: #fff;
  transition: color 0.4s ease-in-out
}


/* End Navigation */

hr {
  border: none;
  border-top: 1px solid #777;
  margin: 20px 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* Start main content */

main {
  margin: 0 20px;
}

/* End main content */

/* Start articles */

.more-articles {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  flex-basis: 48%;
}

section > p {
    margin: 0 0 10px 10px;
}

.extra-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 20px;
}
/* End articles */

/* Start footer */

footer > ul {
  color: #777;
  justify-content: unset;
}

/* End footer */